<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <div class="container">
      <div class="article-layout">
        <div class="article-layout__header">
          <h1><%= title %>
        </div>
        <img class="article-layout__img" alt="Article cover image" src="<%- cover %>" />
        <div class="article-layout__content">
          Lorem ipsum
        </div>
      </div>
    </div>
  </body>
</html>
